<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <title>Details</title>
</head>
<body>
   <h1> Hello {{ res }} !! </h1>
   <br>
   <br>
   <div class = "container">
   {% if contests|length==0 %}
      <p id="tones"> No upcoming contests </p>
   {% else %}
      <p id="text"> These are the upcoming contests </p>
      {% for contest in contests %}
         <p> CONTEST NAME {{ contest[0] }} </p>  
	 <p> Contest Link {{ contest[1] }} </p> 
	 <p> Start Date {{ contest[2] }} </p> 
	 <p> Start Time {{ contest[3] }} </p> 
  	 <p> End Date {{ contest[4] }} </p> 
	 <p> End Time {{ contest[5] }} </p> 
      {% endfor %}
      <br>
      <br>
      <br>
   {% endif %}
   </div>
   <br>
</body>
</html>
